/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Main Layout */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 2rem;
    flex-grow: 1;
}

header .logo img {
    width: 90%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00bcd4;
}

/* Section Styling */
section {
    padding: 40px;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Gallery */
#instagram-feed img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#instagram-feed img:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header .logo img {
        width:90%;
    }

    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
        margin-top: 20px;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 20px;
    }

    #instagram-feed {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #instagram-feed img {
        max-width: 95%;
    }
}
